<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBServer" value="localhost"/>
    <add key="Database" value="hafifot"/>
    <add key="DBUserName" value="root"/>
    <add key="DBPassword" value="root"/>
    <add key="MQHostName" value="localhost"/>
    <add key="MQUserName" value="guest"/>
    <add key="MQPassword" value="guest"/>
  </appSettings>
</configuration>